[Unit]
Description=Sync terminal logs with rclone

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone sync --fast-list --transfers=4 --checkers=8 --create-empty-src-dirs __SCHLOG_ABS_LOGDIR__ __SCHLOG_REMOTE__
